<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ParkBackend | Vehicle</title>
</head>
<body>
<h1>ParkBackend | Log</h1>
<table>
    <tr>
        <td><a href="/">/</a></td>
        <td><a href="/auth">/auth</a></td>
        <td><a href="/v1/logout">/auth/logout</a></td>
        <td><a href="/vehicle">/vehicle</a></td>
        <td><a href="/log">/log</a></td>
    </tr>
</table>
<table>
<!--    checkInTime, checkOutTime, duration, userId, vehicleId, parkingSpotId-->
    <tr>
        <th>userId</th>
        <th>vehicleId</th>
        <th>parkingSpotId</th>
        <th>checkInTime</th>
        <th>checkOutTime</th>
        <th>duration</th>
    </tr>
    <% for(l of log){ %>
        <tr>
            <td><%= l.userId %></td>
            <td><%= l.vehicleId %></td>
            <td><%= l.parkingSpotId %></td>
            <td><%= l.checkInTime %></td>
            <td><%= l.checkOutTime %></td>
<!--            <td><%= l.duration %></td>-->
            <% if(l.duration){ %>
                <td><%= new Date(l.duration).getUTCHours() %>:<%= new Date(l.duration).getUTCMinutes() %>:<%= new Date(l.duration).getUTCSeconds() %></td>
            <% } %>
        </tr>
    <% } %>
</table>
</body>
<script>

</script>
</html>